TRealtimeDataSync/Web References/HB_TRealtimeData/CMDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CMDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.133.146.11:55555/TRealtimeData/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.133.146.11:55555/TRealtimeData/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.133.146.11:55555/TRealtimeData/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMDataCollector.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRealtimeDataService_MonitorBcms_InputMessage">
    <wsdl:part name="parameters" element="tns:MonitorBcms" />
  </wsdl:message>
  <wsdl:message name="IRealtimeDataService_MonitorBcms_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonitorBcmsResponse" />
  </wsdl:message>
  <wsdl:message name="IRealtimeDataService_MonitorBcmsForSkill_InputMessage">
    <wsdl:part name="parameters" element="tns:MonitorBcmsForSkill" />
  </wsdl:message>
  <wsdl:message name="IRealtimeDataService_MonitorBcmsForSkill_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonitorBcmsForSkillResponse" />
  </wsdl:message>
  <wsdl:message name="IRealtimeDataService_MonitorTrunkTraffic_InputMessage">
    <wsdl:part name="parameters" element="tns:MonitorTrunkTraffic" />
  </wsdl:message>
  <wsdl:message name="IRealtimeDataService_MonitorTrunkTraffic_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonitorTrunkTrafficResponse" />
  </wsdl:message>
  <wsdl:message name="IRealtimeDataService_MonitorBcmsSystem_InputMessage">
    <wsdl:part name="parameters" element="tns:MonitorBcmsSystem" />
  </wsdl:message>
  <wsdl:message name="IRealtimeDataService_MonitorBcmsSystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonitorBcmsSystemResponse" />
  </wsdl:message>
  <wsdl:message name="IRealtimeDataService_IsRunning_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRunning" />
  </wsdl:message>
  <wsdl:message name="IRealtimeDataService_IsRunning_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRunningResponse" />
  </wsdl:message>
  <wsdl:message name="IRealtimeDataService_IsConnectedToCM_InputMessage">
    <wsdl:part name="parameters" element="tns:IsConnectedToCM" />
  </wsdl:message>
  <wsdl:message name="IRealtimeDataService_IsConnectedToCM_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsConnectedToCMResponse" />
  </wsdl:message>
  <wsdl:portType name="IRealtimeDataService">
    <wsdl:operation name="MonitorBcms">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealtimeDataService/MonitorBcms" message="tns:IRealtimeDataService_MonitorBcms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealtimeDataService/MonitorBcmsResponse" message="tns:IRealtimeDataService_MonitorBcms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MonitorBcmsForSkill">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealtimeDataService/MonitorBcmsForSkill" message="tns:IRealtimeDataService_MonitorBcmsForSkill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealtimeDataService/MonitorBcmsForSkillResponse" message="tns:IRealtimeDataService_MonitorBcmsForSkill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MonitorTrunkTraffic">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealtimeDataService/MonitorTrunkTraffic" message="tns:IRealtimeDataService_MonitorTrunkTraffic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealtimeDataService/MonitorTrunkTrafficResponse" message="tns:IRealtimeDataService_MonitorTrunkTraffic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MonitorBcmsSystem">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealtimeDataService/MonitorBcmsSystem" message="tns:IRealtimeDataService_MonitorBcmsSystem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealtimeDataService/MonitorBcmsSystemResponse" message="tns:IRealtimeDataService_MonitorBcmsSystem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsRunning">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealtimeDataService/IsRunning" message="tns:IRealtimeDataService_IsRunning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealtimeDataService/IsRunningResponse" message="tns:IRealtimeDataService_IsRunning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsConnectedToCM">
      <wsdl:input wsaw:Action="http://tempuri.org/IRealtimeDataService/IsConnectedToCM" message="tns:IRealtimeDataService_IsConnectedToCM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRealtimeDataService/IsConnectedToCMResponse" message="tns:IRealtimeDataService_IsConnectedToCM_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRealtimeDataService" type="tns:IRealtimeDataService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MonitorBcms">
      <soap:operation soapAction="http://tempuri.org/IRealtimeDataService/MonitorBcms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MonitorBcmsForSkill">
      <soap:operation soapAction="http://tempuri.org/IRealtimeDataService/MonitorBcmsForSkill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MonitorTrunkTraffic">
      <soap:operation soapAction="http://tempuri.org/IRealtimeDataService/MonitorTrunkTraffic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MonitorBcmsSystem">
      <soap:operation soapAction="http://tempuri.org/IRealtimeDataService/MonitorBcmsSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRunning">
      <soap:operation soapAction="http://tempuri.org/IRealtimeDataService/IsRunning" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsConnectedToCM">
      <soap:operation soapAction="http://tempuri.org/IRealtimeDataService/IsConnectedToCM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMDataService">
    <wsdl:port name="BasicHttpBinding_IRealtimeDataService" binding="tns:BasicHttpBinding_IRealtimeDataService">
      <soap:address location="http://10.133.146.11:55555/TRealtimeData/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>