TestApp/Service References/ServiceReference1/BcmsDashboardService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BcmsDashboardService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.29:35002/BcmsDashboardService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.29:35002/BcmsDashboardService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.29:35002/BcmsDashboardService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMDataCollector.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBcmsDashboardService_MonitorBcms_InputMessage">
    <wsdl:part name="parameters" element="tns:MonitorBcms" />
  </wsdl:message>
  <wsdl:message name="IBcmsDashboardService_MonitorBcms_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonitorBcmsResponse" />
  </wsdl:message>
  <wsdl:message name="IBcmsDashboardService_MonitorBcmsForSkill_InputMessage">
    <wsdl:part name="parameters" element="tns:MonitorBcmsForSkill" />
  </wsdl:message>
  <wsdl:message name="IBcmsDashboardService_MonitorBcmsForSkill_OutputMessage">
    <wsdl:part name="parameters" element="tns:MonitorBcmsForSkillResponse" />
  </wsdl:message>
  <wsdl:portType name="IBcmsDashboardService">
    <wsdl:operation name="MonitorBcms">
      <wsdl:input wsaw:Action="http://tempuri.org/IBcmsDashboardService/MonitorBcms" message="tns:IBcmsDashboardService_MonitorBcms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBcmsDashboardService/MonitorBcmsResponse" message="tns:IBcmsDashboardService_MonitorBcms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MonitorBcmsForSkill">
      <wsdl:input wsaw:Action="http://tempuri.org/IBcmsDashboardService/MonitorBcmsForSkill" message="tns:IBcmsDashboardService_MonitorBcmsForSkill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBcmsDashboardService/MonitorBcmsForSkillResponse" message="tns:IBcmsDashboardService_MonitorBcmsForSkill_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBcmsDashboardService" type="tns:IBcmsDashboardService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MonitorBcms">
      <soap:operation soapAction="http://tempuri.org/IBcmsDashboardService/MonitorBcms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MonitorBcmsForSkill">
      <soap:operation soapAction="http://tempuri.org/IBcmsDashboardService/MonitorBcmsForSkill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BcmsDashboardService">
    <wsdl:port name="BasicHttpBinding_IBcmsDashboardService" binding="tns:BasicHttpBinding_IBcmsDashboardService">
      <soap:address location="http://192.168.1.29:35002/BcmsDashboardService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>