TestApp/Service References/ServiceReference3/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BcmsHistoricalDashboard.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BcmsHistoricalDashboard.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BCMSSkill">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abandoned_Calls" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Acceptable_Service_Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Acd_Calls" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Avg_Abandoned_Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Avg_Speed_Answered" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Avg_Staff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Avg_Talk_Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flow_In" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flow_Out" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Interval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pct_In_Svc_Level" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Report_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Skill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Skill_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Switch_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total_After_Call" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total_Aux_Other" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BCMSSkill" nillable="true" type="tns:BCMSSkill" />
</xs:schema>