TestApp/Service References/ServiceReference3/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://122.166.193.21:55000/BcmsHistoricalService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BcmsHistoricalDashboard.Model" />
  <xs:element name="GetBcmsHistoricalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skillId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBcmsHistoricalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BcmsHistoricalDashboard.Model" minOccurs="0" name="GetBcmsHistoricalDataResult" nillable="true" type="q1:BCMSSkill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>