CMDataCollector/Service References/THistoricalData/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12345/THistoricalData/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/THistoricalData.Model" />
  <xs:element name="GetAgentHistoricalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agentId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgentHistoricalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/THistoricalData.Model" minOccurs="0" name="GetAgentHistoricalDataResult" nillable="true" type="q1:AgentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillHistoricalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skillId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillHistoricalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/THistoricalData.Model" minOccurs="0" name="GetSkillHistoricalDataResult" nillable="true" type="q2:SkillInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsServiceRunning">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsServiceRunningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsServiceRunningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServerIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>