CMDataCollector/Service References/THistoricalData/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/THistoricalData.Lib.Model" />
  <xs:element name="GetSkillHistoricalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skillId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillHistoricalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/THistoricalData.Lib.Model" minOccurs="0" name="GetSkillHistoricalDataResult" nillable="true" type="q1:SkillData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>