CMDataCollector/Service References/THistoricalData/THistoricalData.Lib.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/THistoricalData.Lib.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/THistoricalData.Lib.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SkillData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbandCalls" type="xs:int" />
      <xs:element minOccurs="0" name="AcceptableServiceLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AcdCalls" type="xs:int" />
      <xs:element minOccurs="0" name="AvgAbandTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvgSpeedAnswer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AvgStaff" type="xs:decimal" />
      <xs:element minOccurs="0" name="AvgTalkTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateInt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlowIn" type="xs:int" />
      <xs:element minOccurs="0" name="FlowOut" type="xs:int" />
      <xs:element minOccurs="0" name="Interval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Intvl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReportType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkillId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkillName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SwitchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAfterCallTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalAux" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SkillData" nillable="true" type="tns:SkillData" />
</xs:schema>