TRealtimeDataSync/Web References/HB_BcmsService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.25:35002/BcmsDashboardService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CMDataCollector.Models" />
  <xs:element name="MonitorBcms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorBcmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CMDataCollector.Models" minOccurs="0" name="MonitorBcmsResult" nillable="true" type="q1:ArrayOfBcmsDashboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorBcmsForSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skillToMonitor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MonitorBcmsForSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CMDataCollector.Models" minOccurs="0" name="MonitorBcmsForSkillResult" nillable="true" type="q2:BcmsDashboard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRunning">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRunningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsRunningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>