Connector/Service References/TMACWorkQ/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TetherfiWorkAssignment" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddWorkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skill" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="insertBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subchannel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWorkItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkItemSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TetherfiWorkAssignment" minOccurs="0" name="item" nillable="true" type="q1:WorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkItemSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWorkItemSyncResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWorkItemSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWorkItemSyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveWorkItemSyncResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkItemStatusSync">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkItemStatusSyncResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWorkItemByItemIDAndChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="removedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWorkItemByItemIDAndChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveWorkItemByItemIDAndChannelResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWorkItemByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="removedBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveWorkItemByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveWorkItemByKeyResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentid" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skills" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkItemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadEmailQueue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadEmailQueueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadQueue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReloadQueueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClearQueueResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAllQueue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearAllQueueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueueDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueueDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQueueDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueueCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQueueCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetQueueCountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PullWorkItemForAgentByChannelAndItemID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PullWorkItemForAgentByChannelAndItemIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PullWorkItemForAgentByChannelAndItemIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PullWorkItemForAgentByGlobalKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PullWorkItemForAgentByGlobalKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PullWorkItemForAgentByGlobalKeyResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skills" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkItemsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemsBySubChannel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="subchannel" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="skills" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemsBySubChannelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetWorkItemsBySubChannelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PullWorkItemsForAgentByChannelAndCustomerId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PullWorkItemsForAgentByChannelAndCustomerIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PullWorkItemsForAgentByChannelAndCustomerIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkItemWithCustomerIdentifier">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skill" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="insertBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subchannel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkItemWithCustomerIdentifierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddWorkItemWithCustomerIdentifierResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PullWorkItemsForAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skill" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datacontains" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subchannel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PullWorkItemsForAgentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PullWorkItemsForAgentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchWorkItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skill" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="datacontains" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="subchannel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchWorkItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SearchWorkItemsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWorkItemAssignedToAgent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="agentid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWorkItemAssignedToAgentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkItemStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="updateby" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkItemStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>