Connector/Service References/TMACWorkQ/TetherfiWorkAssignment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TetherfiWorkAssignment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TetherfiWorkAssignment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WorkItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AgentID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderIndex" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RouteDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RouteTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Skill" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="SubChannel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkItem" nillable="true" type="tns:WorkItem" />
</xs:schema>