Connector/Service References/SMSAPI/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AACC_API.AACCWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AACC_API.AACCWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDetails">
    <xs:sequence>
      <xs:element name="agentCTIEnabledField" type="xs:boolean" />
      <xs:element name="agentCTIEnabledFieldSpecified" type="xs:boolean" />
      <xs:element name="agentGreetingLicensedField" nillable="true" type="xs:string" />
      <xs:element name="agentGreetingPasswdField" nillable="true" type="xs:string" />
      <xs:element name="agentGreetingRecordedField" type="xs:boolean" />
      <xs:element name="agentGreetingRecordedFieldSpecified" type="xs:boolean" />
      <xs:element name="agentGreetingStateField" type="xs:boolean" />
      <xs:element name="agentGreetingStateFieldSpecified" type="xs:boolean" />
      <xs:element name="agentKeyField" type="xs:int" />
      <xs:element name="agentKeyFieldSpecified" type="xs:boolean" />
      <xs:element name="assignedAgentDetailsField" nillable="true" type="tns:ArrayOfAgentBasicDetails" />
      <xs:element name="assignedContactsandSkillsetsField" nillable="true" type="tns:ArrayOfContactTypeAndRelatedSkillsets" />
      <xs:element name="authenticationAccountTypeField" type="tns:ACCOUNT_TYPE" />
      <xs:element name="authenticationAccountTypeFieldSpecified" type="xs:boolean" />
      <xs:element name="callPresentationClassIDField" type="xs:int" />
      <xs:element name="callPresentationClassIDFieldSpecified" type="xs:boolean" />
      <xs:element name="cctAgentEnabledField" type="xs:boolean" />
      <xs:element name="cctAgentEnabledFieldSpecified" type="xs:boolean" />
      <xs:element name="cmAgentIDField" nillable="true" type="xs:string" />
      <xs:element name="cmIDField" nillable="true" type="xs:string" />
      <xs:element name="commentField" nillable="true" type="xs:string" />
      <xs:element name="defaultACDQueueErrorCodeField" type="xs:int" />
      <xs:element name="defaultACDQueueErrorCodeFieldSpecified" type="xs:boolean" />
      <xs:element name="defaultACDQueueField" nillable="true" type="xs:string" />
      <xs:element name="departmentField" nillable="true" type="xs:string" />
      <xs:element name="domainField" nillable="true" type="xs:string" />
      <xs:element name="firstNameField" nillable="true" type="xs:string" />
      <xs:element name="iMURIField" nillable="true" type="xs:string" />
      <xs:element name="isSuperField" type="xs:boolean" />
      <xs:element name="isSuperFieldSpecified" type="xs:boolean" />
      <xs:element name="languageIDField" type="tns:SupportedLanguages" />
      <xs:element name="languageIDFieldSpecified" type="xs:boolean" />
      <xs:element name="lastNameField" nillable="true" type="xs:string" />
      <xs:element name="localIDField" type="xs:int" />
      <xs:element name="localIDFieldSpecified" type="xs:boolean" />
      <xs:element name="loggedInField" type="xs:boolean" />
      <xs:element name="loggedInFieldSpecified" type="xs:boolean" />
      <xs:element name="loginIDField" nillable="true" type="xs:string" />
      <xs:element name="multiplicityPresentationClassIDField" type="xs:int" />
      <xs:element name="multiplicityPresentationClassIDFieldSpecified" type="xs:boolean" />
      <xs:element name="offsiteAllowedField" type="xs:boolean" />
      <xs:element name="offsiteAllowedFieldSpecified" type="xs:boolean" />
      <xs:element name="offsiteAlternatePhoneField" type="xs:boolean" />
      <xs:element name="offsiteAlternatePhoneFieldSpecified" type="xs:boolean" />
      <xs:element name="offsiteModeField" type="tns:OFFSITE_AGENT_MODE" />
      <xs:element name="offsiteModeFieldSpecified" type="xs:boolean" />
      <xs:element name="offsitePhone1Field" nillable="true" type="xs:string" />
      <xs:element name="offsitePhone2Field" nillable="true" type="xs:string" />
      <xs:element name="passwordField" nillable="true" type="xs:string" />
      <xs:element name="personalDNField" nillable="true" type="xs:string" />
      <xs:element name="positionIDField" type="xs:int" />
      <xs:element name="positionIDFieldSpecified" type="xs:boolean" />
      <xs:element name="superCTIEnabledField" type="xs:boolean" />
      <xs:element name="superCTIEnabledFieldSpecified" type="xs:boolean" />
      <xs:element name="supervisorIDField" type="xs:int" />
      <xs:element name="supervisorIDFieldSpecified" type="xs:boolean" />
      <xs:element name="supervisorLoginIDField" nillable="true" type="xs:string" />
      <xs:element name="thresholdIDField" type="xs:int" />
      <xs:element name="thresholdIDFieldSpecified" type="xs:boolean" />
      <xs:element name="titleField" nillable="true" type="xs:string" />
      <xs:element name="tnNameField" nillable="true" type="xs:string" />
      <xs:element name="userIDField" nillable="true" type="xs:string" />
      <xs:element name="userNameField" nillable="true" type="xs:string" />
      <xs:element name="userTypeField" type="tns:AGENT_TYPE" />
      <xs:element name="voiceURIField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDetails" nillable="true" type="tns:UserDetails" />
  <xs:complexType name="ArrayOfAgentBasicDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AgentBasicDetails" nillable="true" type="tns:AgentBasicDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAgentBasicDetails" nillable="true" type="tns:ArrayOfAgentBasicDetails" />
  <xs:complexType name="AgentBasicDetails">
    <xs:sequence>
      <xs:element name="firstNameField" nillable="true" type="xs:string" />
      <xs:element name="lastNameField" nillable="true" type="xs:string" />
      <xs:element name="localIDField" type="xs:int" />
      <xs:element name="localIDFieldSpecified" type="xs:boolean" />
      <xs:element name="phoneSetLoginIDField" nillable="true" type="xs:string" />
      <xs:element name="typeField" type="tns:AGENT_TYPE" />
      <xs:element name="typeFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentBasicDetails" nillable="true" type="tns:AgentBasicDetails" />
  <xs:simpleType name="AGENT_TYPE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AGENT" />
      <xs:enumeration value="SUPERVISOR" />
      <xs:enumeration value="SUPERVISOR_AGENT" />
      <xs:enumeration value="UNDEFINED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AGENT_TYPE" nillable="true" type="tns:AGENT_TYPE" />
  <xs:complexType name="ArrayOfContactTypeAndRelatedSkillsets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactTypeAndRelatedSkillsets" nillable="true" type="tns:ContactTypeAndRelatedSkillsets" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactTypeAndRelatedSkillsets" nillable="true" type="tns:ArrayOfContactTypeAndRelatedSkillsets" />
  <xs:complexType name="ContactTypeAndRelatedSkillsets">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ContactType">
        <xs:sequence>
          <xs:element name="isAssignedField" type="xs:boolean" />
          <xs:element name="isAssignedFieldSpecified" type="xs:boolean" />
          <xs:element name="skillsetsOfThisContactTypeField" nillable="true" type="tns:ArrayOfSkillsetFullDetails" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactTypeAndRelatedSkillsets" nillable="true" type="tns:ContactTypeAndRelatedSkillsets" />
  <xs:complexType name="ContactType">
    <xs:sequence>
      <xs:element name="idField" type="xs:int" />
      <xs:element name="idFieldSpecified" type="xs:boolean" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="onField" nillable="true" type="xs:string" />
      <xs:element name="prefixField" type="tns:SkillsetPrefix" />
      <xs:element name="prefixFieldSpecified" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactType" nillable="true" type="tns:ContactType" />
  <xs:simpleType name="SkillsetPrefix">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Undefined" />
      <xs:enumeration value="VO_" />
      <xs:enumeration value="EM_" />
      <xs:enumeration value="WC_" />
      <xs:enumeration value="OB_" />
      <xs:enumeration value="VI_" />
      <xs:enumeration value="IM_" />
      <xs:enumeration value="PR_" />
      <xs:enumeration value="OQ_" />
      <xs:enumeration value="SD_" />
      <xs:enumeration value="FX_" />
      <xs:enumeration value="SM_" />
      <xs:enumeration value="VM_" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SkillsetPrefix" nillable="true" type="tns:SkillsetPrefix" />
  <xs:complexType name="ArrayOfSkillsetFullDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SkillsetFullDetails" nillable="true" type="tns:SkillsetFullDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkillsetFullDetails" nillable="true" type="tns:ArrayOfSkillsetFullDetails" />
  <xs:complexType name="SkillsetFullDetails">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Skillset">
        <xs:sequence>
          <xs:element name="priorityField" type="xs:int" />
          <xs:element name="priorityFieldSpecified" type="xs:boolean" />
          <xs:element name="statusField" type="tns:SkillsetStatus" />
          <xs:element name="statusFieldSpecified" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SkillsetFullDetails" nillable="true" type="tns:SkillsetFullDetails" />
  <xs:complexType name="Skillset">
    <xs:sequence>
      <xs:element name="_x003C_SkillLevel_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="contactTypeIDField" type="xs:int" />
      <xs:element name="idField" type="xs:int" />
      <xs:element name="idFieldSpecified" type="xs:boolean" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Skillset" nillable="true" type="tns:Skillset" />
  <xs:simpleType name="SkillsetStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UNASSIGNED" />
      <xs:enumeration value="STANDBY" />
      <xs:enumeration value="ACTIVE" />
      <xs:enumeration value="UNDEFINED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SkillsetStatus" nillable="true" type="tns:SkillsetStatus" />
  <xs:simpleType name="ACCOUNT_TYPE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LocalSecurityServer" />
      <xs:enumeration value="Domain" />
      <xs:enumeration value="Local" />
      <xs:enumeration value="Unassigned" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ACCOUNT_TYPE" nillable="true" type="tns:ACCOUNT_TYPE" />
  <xs:simpleType name="SupportedLanguages">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ENGLISH" />
      <xs:enumeration value="ENGLISH_UK" />
      <xs:enumeration value="FRENCH" />
      <xs:enumeration value="GERMAN" />
      <xs:enumeration value="SPANISH" />
      <xs:enumeration value="PORTUGESE" />
      <xs:enumeration value="CHINESE" />
      <xs:enumeration value="JAPANESE" />
      <xs:enumeration value="ITALIAN" />
      <xs:enumeration value="RUSSIAN" />
      <xs:enumeration value="KOREAN" />
      <xs:enumeration value="CHINESE_TAIWAN" />
      <xs:enumeration value="CANADIAN_FRENCH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SupportedLanguages" nillable="true" type="tns:SupportedLanguages" />
  <xs:simpleType name="OFFSITE_AGENT_MODE">
    <xs:restriction base="xs:string">
      <xs:enumeration value="On_Demand" />
      <xs:enumeration value="Permanent" />
      <xs:enumeration value="UNDEFINED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OFFSITE_AGENT_MODE" nillable="true" type="tns:OFFSITE_AGENT_MODE" />
  <xs:complexType name="ArrayOfContactType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ContactType" nillable="true" type="tns:ContactType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContactType" nillable="true" type="tns:ArrayOfContactType" />
  <xs:complexType name="ArrayOfSkillset">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Skillset" nillable="true" type="tns:Skillset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSkillset" nillable="true" type="tns:ArrayOfSkillset" />
  <xs:complexType name="AACCUserDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocalID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SkillsList" nillable="true" type="tns:ArrayOfSkillset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AACCUserDetails" nillable="true" type="tns:AACCUserDetails" />
</xs:schema>