Connector/Service References/SMSAPI/item5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SMS_API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SMS_API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55000/CM_SMS_API/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SMS_API.SystemManagementService" />
  <xs:complexType name="CM_ObjectType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SMS_API.SystemManagementService" minOccurs="0" name="Data" nillable="true" type="q1:modelChoices" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CM_ObjectType" nillable="true" type="tns:CM_ObjectType" />
</xs:schema>